* {
	font-family: 'Montserrat', sans-serif;
}
a:hover, a:focus {
	text-decoration:none !important;
	transition: all 0.3s ease 0s;
	transition: background 0.3s ease 0s;
}
/* ============== Login-Register =============== */
body.login .middle-container {
	width: 550px !important;
	margin: 0 auto !important;
}
.alert-warning {
    background-color: #f2dede !important;
    border-color: #fbeed5 !important;
    color: #a94442 !important;
}
.login-container input {
    border: 1px solid #ddd !important;
    padding: 20px !important;
}
img.product_thumb {
    width: 100px;
    height: 100px;
}
.video_error p {
    color: red;
    font-weight: bold;
}
.document_error p {
    color: red;
    font-weight: bold;
}
.employee_error p {
    color: red;
    font-weight: bold;
}
select[multiple], select[size] {
    height: 70px !important;
}
textarea#street1,#street2,#jobtaskdescription,#description,#notes,#address,#notess{
	height: 65px !important;
}
td.nofound_align {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.login-container input:hover , .login-container input:focus {
    border: 1px solid #2A338F!important;
}
.login-container-header h1 {
    color: #fff !important;
}
.reg-link {
    color: #fff;
    font-size: 16px;
}
button.btn.btn-sign-in {
    border-radius: 4px !important;
	transition: all 0.3s ease 0s;
}
/*.btn:hover {
    box-shadow: 0 10px 1px -12px rgba(0, 0, 0, 0.2), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}*/
.checkbox {
    padding-left: 20px; 
	margin-bottom: 30px;
}
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 15px;
    padding-top: 2px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: none;
    border-radius: 20%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    box-shadow: 0 0px 18px #eee;
    top: 0px;
    border: 1px solid #ddd;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-left: -20px;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 11px;
    color: #fff;
    background: #0089bc!important;
    border-radius: 20%;
}
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }
.checkbox.check_remember {
    margin-top: 20px;
}
.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 15px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 21px;
      height: 21px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
	  left: 5px;
	   top: 5px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #0089bc;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

body.login .login-container .with-icon-over-input [class^="icon-"], .text-muted {
	top: 10px !important;
    right: 15px;
}
/* ============== Admin =============== */
header .navbar > .nav > li.dark > a:hover, header .navbar > .nav > li.dark > a:active, header .navbar > .nav > li.dark > a:focus {
   background-color: #333244 !important;
}
li.dropdown.medium.only-icon.widget a {
    padding: 10.5px 15px;
}
li.dropdown.medium.only-icon.widget a:hover , li.dropdown.medium.only-icon.widget a:focus {
    background: #333244 !important;
}
header .navbar > .nav > li .label {
    border-radius: 10px !important;
}
.btn-group.open .btn-primary.dropdown-toggle, .btn.btn-primary {
	text-shadow: none !important;
}
.main-nav-opened .main-nav {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
}
.main-nav-closed .main-nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px !important;
    z-index: 850;
}
#content {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    /* margin-left: 230px; */
    z-index: 820;
}
nav#main-nav {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    /* width: 230px; */
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}
nav#main-nav {
    background: #2A338F;
}
#main-nav .navigation > .nav {
    box-shadow: none !important;
    border-bottom: none !important;
    background: #2A338F  !important;
}
#main-nav .navigation > .nav > li > a {
    background-color: transparent !important;
    height: auto !important;
    padding: 12px 5px 12px 15px !important;
    border: none !important;
}
#main-nav .navigation > .nav > li .nav > li > a {
	color: #cdd7dc !important;
    text-shadow: none !important;
    font-weight: normal !important;
	font-size: 15px !important;
	border: none !important;
	background: transparent !important;
}
#main-nav .navigation > .nav > li .nav > li > a i:before {
	position: relative;
    left: -14px;
    font-size: 13px !important;
    color: #cdd7dc !important;
}
#main-nav .navigation > .nav > li > a.in span , #main-nav .navigation > .nav > li > a span{
    color: #cdd7dc !important;
    text-shadow: none !important;
    font-weight: normal !important; font-size:13px!Important
}
#main-nav .navigation > .nav > li.active > a span , #main-nav .navigation > .nav > li:hover > a [class^="icon-"]{
	font-weight: normal !important;
}
.contrast-red #main-nav .navigation > .nav > li.active > a [class^="icon-"], .contrast-red #main-nav .navigation > .nav > li:hover > a [class^="icon-"] {
    line-height: 20px;
    font-weight: 600;
    color: #fff !important;
}
#main-nav .navigation > .nav > li {
	margin: 0px !important;
}
#main-nav .navigation > .nav > li:hover > a , #main-nav .navigation > .nav > li:hover > a span {
	color: #fff !important;
}
#main-nav .navigation > .nav > li > a i {
    margin-right: 15px !important;
    margin-top: -2px;
}
#main-nav .navigation > .nav > li > a i:before {
    position: relative;
    top: -2px;
}
#main-nav .navigation > .nav > li .nav.in , #main-nav .navigation > .nav > li .nav{
    border: none;
    background: #2d2d3d !important;
}
#main-nav .navigation > .nav > li .nav > li > a {
    color: #fff;
    font-size: 16px;
    padding-left: 25px;
    border-top: none;
    padding: 10px 0px 10px 50px;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a i:before {
    position: relative;
    left: -14px;
    font-size: 13px !important;
    color: #cdd7dc !important;
}
#main-nav ul.in.nav.nav-stacked > li > .nav > li {
    padding-left: 40px;
    position: relative;
}
#main-nav ul.in.nav.nav-stacked > li .nav > li > a {
    padding-left: 0px !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span {
    font-size: 16px !important;
	color: #cdd7dc;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a span , #main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a i:before{
	color: #0089bc !important;
}
.main-nav-closed #main-nav .navigation > .nav > li:hover > a > span {
    left: 45px !important;
    background: #0089bc !important;
    color: #fff !important;
}
.main-nav-closed #main-nav .navigation > .nav > li:hover > ul {
    left: 45px;
    top: 44px;
    width: 250px;
}
.main-nav-closed i.icon-angle-down.angle-down:before {
    top: 15px !important;
    position: relative;
}
.contrast-blue #main-nav .navigation > .nav > li:hover > a [class^="icon-"], .contrast-blue #main-nav .navigation > .nav > li:hover > a [class*=" icon-"], .contrast-blue #main-nav .navigation > .nav > li:focus > a [class^="icon-"], .contrast-blue #main-nav .navigation > .nav > li:focus > a [class*=" icon-"], .contrast-blue #main-nav .navigation > .nav > li.active > a [class^="icon-"], .contrast-blue #main-nav .navigation > .nav > li.active > a [class*=" icon-"]{
    color: #fff !important;
}
li.dropdown.medium.only-icon.widget.open , li.dropdown.dark.user-menu.open{
    background: #333244;
}
header .navbar .widget .dropdown-menu {
	padding: 5px;
}
header .navbar .widget .dropdown-menu > li > a {
    padding: 1px 5px;
}
header .navbar .widget .dropdown-menu > li .widget-body i {
    color: #0089bc !important;
}
header .navbar .toggle-nav {
    margin-left: 0px !important;
    margin-top: 13px !important;
}
header .navbar > .nav {
    margin: 10px 0px !important;
}
li.widget-footer a{
	background-color: #0089bc !important;
	color: #fff !important;
}
.user-menu ul.dropdown-menu {
    padding: 5px !important;
    width: 205px;
}
.user-menu ul.dropdown-menu li a {
    padding: 10px;
}
.user-menu ul.dropdown-menu li.divider {
    margin: 0px;
}
.user-menu ul.dropdown-menu li a i {
    margin-right: 10px !important;
    color: #959391;
}
.user-menu ul.dropdown-menu li a:hover i {
    color: #fff;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span {
    color: #0089bc !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a i:before {
    color: #0089bc !important;
}
header .navbar .widget .dropdown-menu li {
    background: transparent !important;
}
header .navbar .widget .dropdown-menu li.divider {
    background-color: #e5e5e5 !important;
}
.page-header {
    margin: 0px 0 0px !important; 
	min-height: 15px;
}
.box .box-header.blue-background {
	margin: 0px !important;
}
button.applyBtn.btn {
    margin-top: 0px !important;
}
a.box-collapse_custome i {
    font-size: 18px;
    margin-right: 3px;
}
a.box-collapse_custome {
    position: relative;
    padding: 8px 15px;
    background: #0089bc;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    border-radius: 6px;
}
.box .box-header .actions , .box-header .title .btn-success{
	margin:0px !important;
}
.btn {
    text-shadow: none !important;
}
.select2-container .select2-choice , div#reportrange {
    border: 1px solid #ddd !important;
    height: 45px !important;
    padding: 5px 10px !important;
}
div#reportrange {
    padding: 10px 10px !important;
}
a#genrate_pdf {
	height: 45px !important;
	padding-top: 10px !important;
}
.select2-container {
    height: auto !important;
}
.select2-container .select2-choice .select2-arrow {
	top:7px;
}
div#role-table_wrapper input , div#role-table_wrapper select {
	border: 1px solid #ddd !important;
    padding: 5px 10px !important;
}
select2-container.form-control, .select2-container-multi .select2-choices, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .form-control, .uneditable-input , input[type="file"] {
    border: 1px solid #ddd !important;
    padding: 5px 10px !important;
	font-weight: normal !important;font-size: 13px!Important;
}
form.form-horizontal input.select2-input {
    border: none !important;
}
input[type="file"] {
    width: 100%;
}
.form-control:focus, .form-control:hover {
    border: 1px solid #0089bc !important;
}
.dataTables_wrapper {
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
	margin-top: 25px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled { 
	cursor: not-allowed;
	color: #777 !important;
    cursor: not-allowed !important;
    background-color: #fff !important;
    border-color: #ddd !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #777 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
	background: #fafafa !important;
	margin-left: 0px !important;
	border-radius: 0px !important;
}

div.dataTables_paginate  {
    margin-top: 15px;
}
div.dataTables_info {
    margin-top: 20px;
}
table.dataTable {
    width: 100% !important;
}
.btn.btn-info.btn-xs:hover {
	background: transparent !important;
	border-color: transparent !important;
	color: #333244 !important;
}
a.file_upload {
    color: #333244;
}
table#DataTables_Table_0 .btn.btn-info.btn-xs i {
    color: #337AB7;
}
.modal-header {
    background: #333244;
    color: #fff;
}
h4.modal-title {
    color: #fff;
}
.modal-header .close {
    color: #fff;
    margin-top: -20px !important;
}
.link_file {
    color: #0089bc !important;
    text-decoration: underline;
}
span.dtr-data i {
    margin-right: 10px;
}
.chat form button {
    top: -5px !important;
    height: 34px !important;
}
.table-responsive.tbl_ticket_id {
    width: 500px;
}
.contrast-red h1 [class^="icon-"] {
	color: #fff;
}
a#open_model {
    margin-top: 0px !important;
}
a#add_new {
    height: 45px !important;
    padding: 10px !important;
}
.modal-title {
    color: #fff;
}
.btn {
    border-radius: 2px !important;
}
.select2-container .select2-choice abbr {
	top: 14px;
}
ul.nav.nav-tabs {
    border: none !important;
    margin-bottom: 10px !important;
    background: #0089bc ;
    padding: 10px 10px 0;
}
ul.nav.nav-tabs li a {
	margin: 0px !important;
	border-radius: 6px 6px 0 0 !important;
	height: auto !important;
	border: 1px solid transparent !important;
	color: #fff !important;
}
ul.nav.nav-tabs li.active a {
    border: 1px solid #0089bc !important;
    border-bottom: none !important;
    background: #fff;
    color: #0089bc !important;
    border-radius: 6px 6px 0 0 !important;
}
ul.nav.nav-tabs li a:hover {
	border-radius: 6px 6px 0 0 !important;
    color: #0089bc !important;
    background: #fff;
}
.btn-submit-edit-s {
    margin-top: 20px;
}
.btn.btn-search-s {
    height: 35px !important;
}
.status_rad .radio {
    display: inline;
    margin-right: 20px;
}
.status_rad {
    margin-top: 5px;
}
input#s2id_autogen2 {
    width: 150px !important;
}
table.tbl_avialability {
    width: 100%;
}
.availability_head_row label {
    background: #000;
    color: #fff;
    padding: 10px 20px;
}
.availability_head_row {
    margin-top: 30px;
}
.tooltip_head {
    float: right;
    color: #fff;
}
.tooltip_head i {
	color: #fff;
}

.btn.has-popover {
    background: transparent !important;
    border: none !important;
}
.btn.has-popover i {
    color: #fff !important;
    font-size: 20px !important;
}
.tooltip .tooltip-inner {
    font-size: 13px !important;
    line-height: 20px !important;
    padding: 15px 15px !important;
    letter-spacing: 0.6px !important;
}
.popover-title {
    margin-top: 0px !important;
    border: none !important;
    background: #0089bc !important;
    color: #fff !important;
}
.popover {
    padding: 0px !important;
    background: transparent !important;
    border: none !important;
}
.popover-content {
    background: #fff;
    color: #000;
    margin-top: -5px;
    box-shadow: 0 3px 13px #ddd;
}
.popover.left .arrow:after {
	border-left-color: #0089bc !important; 
}
.popover.left .arrow {
    margin-top: -15px !important;
    right: -7px !important;
    border: none !important;
    top: 73%!important;
}
.box .box-header {
    position: relative;
}

.box-header .btn.input-tooltip.has-tooltip {
    color: #fff !important;
    font-size: 20px !important;
    padding: 0px !important;
}
.btn.btn-info.btn-xs:hover {
    background: #333244 !important;
    color: #fff !important;
}
table#DataTables_Table_0 .btn.btn-info.btn-xs:hover {
    background: transparent !important;
}
select#phone_type_1, input#phone_number_2, select#phone_type_2 {
    margin: 7px 0px !important;
}
.no-radious {
	border-radius:0px !important;
}
button.btn.btn-default.no-radious {
    padding: 7.5px 15px;
}

.box .box-content {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    padding: 20px !important;
}
.cash_available_div {
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.cash_available_div p {
    margin-top: 10px;
    margin-right: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #777 !important;
}
.ad_bank_detail {
    margin-top: 25px;
}
.margin-top-50 {
	margin-top: 50px !important;
}
button#changedate {
	margin-top: -5px !important;
    margin-left: 5px;
}





@media only screen and (max-width: 991px) {
	.chat form button.btn.btn-success {
		margin: 10px 0px !important;
	}
	.ticket-select-process.pull-right {
		float: left !important;
	}
	a#open_model {
		margin-top: -120px !important;
	}
}
@media only screen and (max-width: 797px) {
	.ticket-select-process {
		width: auto !important;
	}
	.cash_available_div {
		display: inherit;
		margin-top: 10px;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 767px) {
	.search-wrapper input {
		border: none !important;
	}
	.search-wrapper button.btn.icon-search {
		padding: 5px !important;
	}
	.scheduler-view-day-content .yui3-widget-hd { padding:0 0px 0 0!Important; margin:0!Important;border-bottom: 0!Important;}
}
@media only screen and (max-width: 549px) {
	body.login .middle-container {
		width: 95% !important;
	}
	.table-responsive.tbl_ticket_id {
		width: auto;
	}
}
@media only screen and (max-width: 435px) {
	.dataTables_wrapper .dataTables_paginate a.paginate_button {
		font-size: 10px;
	}
	a.box-collapse_custome {
		font-size: 14px;
	}
}
@media only screen and (max-width: 364px) {
	.btn-group.open .btn.dropdown-toggle, .btn {
		font-size: 10px !important;
	}
	li.dropdown.medium.only-icon.widget.open {
		padding: 0 10px;
	}
	li.dropdown.medium.only-icon.widget {
		padding: 0 10px;
	}
	a#open_model {
		margin-top: 0px !important;
	}
	ul.nav.nav-tabs li a {
		padding: 5px 10px !important;
	}
}
@media only screen and (max-width: 334px) {
	.panel-body {
		padding: 15px 15px;
	}
	button.btn.btn-default.no-radious {
		padding: 9px 15px !important;
	}
	ul.nav.nav-tabs li a {
		padding: 5px 5px !important;
	}
}


.box .box-header .title { color:#222!important; border-bottom:1px solid #ddd;display: block; width: 100%;padding: 0 0 5px 0;}
.page-header { border:0!important;}
.contrast-blue header .navbar > .nav > li.dark > a { background:transparent!important;}

.filter-select { font-size:13px; font-weight:300;display:inline-block; width:75%;}
.filter-btn{padding: 5px 20px !important;border: none !important; background-color: #0c5c46 !important; line-height: 25px !important; margin:0; display:inline-block; color:#fff;}
.filter-btn:hover { background:#2A338F;}

.scheduler-base .btn , .cust-calendar .btn{height: 35px !important; font-size: 12px !important;font-weight: 300 !important;margin: 0 5px !important;padding: 0 10px !important;display:inline-block;}
.scheduler-base-controls .scheduler-base-nav-date { margin:10px 0!important;}
.scheduler-view-day-header-day a {font-size: 13px!Important;font-weight: 300!Important; padding:10px!Important; }
.scheduler-view-day-content .yui3-widget-hd { padding:0!Important; margin:0!Important;border-bottom: 0!Important;}

.scheduler-view-day-table-time { font-size:12px!Important;}

.cust-calendar .scheduler-event {background-color: #137c65!Important; border:0!Important; font-size:12px!Important;color: #fff!Important; height:auto!Important;}
.scheduler-view-week .scheduler-event-title, .scheduler-view-week .scheduler-event-content { font-size:12px!Important;font-weight: 300 !important;}

/* change css */

#main-nav .navigation > .nav > li .nav.in , #main-nav .navigation > .nav > li .nav{
    border: none;
    background: #fff !important;
}

/*#main-nav ul.nav.nav-stacked > li .in.nav > li > a {
    font-size: 16px !important;
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a:hover {
    font-size: 16px !important;
    color: #2A338F !important;
}*/

/*#main-nav ul.nav.nav-stacked > li .in.nav > li > a i:before {
    position: relative;
    left: -14px;
    font-size: 13px !important;
    color: #2A338F !important;
}

ul.nav.nav-tabs li.active a {
    border: 1px solid #2A338F !important;
    border-bottom: none !important;
    background: #fff;
    color: #2A338F !important;
    border-radius: 6px 6px 0 0 !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span {
    font-size: 16px !important;
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span:hover {
    font-size: 16px !important;
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a {
    font-size: 16px !important;
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a:hover {
    font-size: 16px !important;
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span {
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span {
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span:hover {
    color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a i:before{
	color: #2A338F !important;
}
#main-nav ul.nav.nav-stacked > li .in.nav > li> a i:before{
	color: #2A338F !important;
}
*/
#main-nav ul.nav.nav-stacked > li .in.nav > li{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a i:before{color:#2A338F !important;}
#main-nav .navigation > .nav > li.active > a{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a i:before { color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a{color:#959391 !important;}


#main-nav ul.nav.nav-stacked > li .in.nav > li{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li:hover,li:focus{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a:hover,a:focus{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li > a span:hover,span:focus{color:#2A338F !important;}
#main-nav ul.nav.nav-stacked > li .in.nav > li.active > a span:hover,span:focus{color:#2A338F !important;}


#main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a span , #main-nav ul.nav.nav-stacked > li .in.nav > li:hover > a i:before{
	/*color: #0089bc !important;*/
	color:#2A338F !important;
}
ul.nav.nav-tabs {
    background: #2A338F !important;
}


ul.nav.nav-tabs li.active a {
    border: 1px solid #2A338F !important;
    color: #2A338F !important;
	border-bottom:none !important;
}
ul.nav.nav-tabs li a:hover {
	border-radius: 6px 6px 0 0 !important;
    color: #2A338F !important;
    background: #fff;
}
.btn-group.open .btn.dropdown-toggle,.btn{
    border: 0px solid #2A338F !important;
}
.btn-group.open .btn.dropdown-toggle:hover, .btn:hover {
    border: 0px solid #2A338F !important;
	
}
.btn-group.open .btn-warning.dropdown-toggle, .btn.btn-warning{
	margin: 5px 0px;
    padding: 8px;
}
.ui-widget.ui-widget-content{z-index: 2625;}
.scheduler-view-day-content .yui3-widget-hd { padding:0 20px 0 0!Important; margin:0!Important;border-bottom: 0!Important;}


/*.ui-widget.ui-widget-content{position: absolute;height: auto;width: 700px;top: 150px;left: 650px;display: block;background-color:#fff;border:0px;}
.ui-dialog.ui-dialog-content{ width: auto;min-height: 0px;max-height: none;height: 500px;position: relative;border: 0;padding: .5em 1em;background: none;overflow: auto;}*/

    
  

@media only screen and (max-width: 1024px) and (min-width: 768px){
	.scheduler-view-day-content .yui3-widget-hd { padding:0 00px 0 0!Important; margin:0!Important;border-bottom: 0!Important;}
	
}

